[submodule "vim/vim/vundle"]
	path = vim/vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/vim/vim-plug"]
	path = vim/vim/vim-plug
	url = git://github.com/junegunn/vim-plug.git
[submodule "zsh/theme/powerlevel10k"]
	path = zsh/theme/powerlevel10k
	url = git://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugin/zsh-syntax-highlighting"]
	path = zsh/plugin/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugin/zsh-autosuggestions"]
	path = zsh/plugin/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions.git
